<mat-card class="videoList" *ngFor="let item of map | keyvalue">
  {{item.value}}
  <iframe
    class="videos embed-responsive-item video"
    width="100%"
    height="300"
    id="myvideo"
    [src]=sanitize(item.key)
    allowfullscreen></iframe>

  <div class="videos">
    <label
      class="ratingLabel"
      id="example-radio-group-label">
      ?אהבת</label>

    <div class="example-button-row">
      <button mat-fab color="accent" (click)="onAddRating(1, this.id, item.key)">1</button>
      <button mat-fab color="accent" (click)="onAddRating(2, this.id, item.key)">2</button>
      <button mat-fab color="accent" (click)="onAddRating(3, this.id, item.key)">3</button>
      <button mat-fab color="accent" (click)="onAddRating(4, this.id, item.key)">4</button>
      <button mat-fab color="accent" (click)="onAddRating(5, this.id, item.key)">5</button>
    </div>

  </div>
</mat-card>
