
<!--<mat-card>-->
  <!--<iframe width="100%" height="450" class="embed-responsive-item video" id="myvideo" src='https://www.youtube.com/embed/6U_5KhaH6IM' allowfullscreen></iframe>-->
<!--</mat-card>-->
 <!--&lt;!&ndash;<button (click)="getRecordsFromService()">Show me the videos</button>&ndash;&gt;-->
<!--<ul>-->
  <!--<li *ngFor="let element of array; trackBy: trackElement">-->
     <!--{{element.guid}}-->
     <!--{{element.age}}-->
  <!--</li>-->
<!--</ul>-->

<!--<ul>-->
  <!--<li *ngFor="let item of map | keyvalue">-->
    <!--{{item.key}}:{{item.value}}-->
  <!--</li>-->
<!--</ul>-->

<mat-card class="videoList" *ngFor="let item of map | keyvalue">
  {{item.value}}
  <iframe
    class="videos embed-responsive-item video"
    width="100%"
    height="450"
    id="myvideo"
    [src]=sanitize(item.key)
    allowfullscreen></iframe>

  <div class="videos">
    <label
      class="ratingLabel"
      id="example-radio-group-label">
      ?אהבת</label>
    <!--<ngb-rating class="star" max="5" [(rate)]="currentRate"></ngb-rating>-->
    <!--<hr>-->
    <!--<pre>Rate: <b>{{currentRate}}</b></pre>-->

    <div class="example-button-row">
      <button mat-fab color="accent" (click)="onAddRating(1, this.id, item.key)">1</button>
      <button mat-fab color="accent" (click)="onAddRating(2, this.id, item.key)">2</button>
      <button mat-fab color="accent" (click)="onAddRating(3, this.id, item.key)">3</button>
      <button mat-fab color="accent" (click)="onAddRating(4, this.id, item.key)">4</button>
      <button mat-fab color="accent" (click)="onAddRating(5, this.id, item.key)">5</button>
    </div>

  </div>
</mat-card>
