
<!--<mat-card>-->
  <!--<iframe width="100%" height="450" class="embed-responsive-item video" id="myvideo" src='https://www.youtube.com/embed/6U_5KhaH6IM' allowfullscreen></iframe>-->
<!--</mat-card>-->
<button (click)="getRecordsFromService()">Show me the videos</button>

<mat-card *ngFor="let x of records">

  <iframe
    class="videos embed-responsive-item video"
    width="100%"
    height="450"
    id="myvideo"
    [src]=sanitize(x)
    allowfullscreen></iframe>

  <div class="videos">
    <label
      class="rating"
      id="example-radio-group-label">
      Did you love the song?</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group rating"
      [(ngModel)]="rated">
      <mat-radio-button
        class="rating example-radio-button"
        *ngFor="let rating of ratings" [value]="rating">
        {{ rating }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</mat-card>
