mat-card {
  width: 30%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.videoList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
}
.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ratingLabel {
  display: flex;
  justify-content: center;
}

.example-radio-group {
  display: flex;
  justify-content: center;
}

.example-radio-button {
  display: flex;
  justify-content: center;
}

.example-button-row {
  /*font-size: 5rem;*/
  display: flex;
  justify-content: center;
}
