/*.container{*/
  /*display: flex;*/
  /*flex-direction: row;*/
/*}*/
/*.videoList {*/
  /*display: flex;*/
  /*justify-content: space-around;*/
/*}*/

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.ratingLabel {
  display: flex;
  justify-content: center;
}

.example-radio-group {
  display: flex;
  justify-content: center;
}

.example-radio-button {
  display: flex;
  justify-content: center;
}
