<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<body>
<!------ Include the above in your HEAD tag ---------->
<p>ברוך הבא לתמרינגה</p>

<div class="wrapper fadeInDown" >
  <div id="formContent">
    <mat-card>
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
          <input class="input" matInput name="id" ngModel type="number" placeholder="תעודת זהות" #IdInput="ngModel" required id>
          <mat-error *ngIf="IdInput.invalid">Please enter a valid ID.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input class="input" matInput name="password" ngModel type="password" placeholder="סיסמה" #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" *ngIf="!isLoading">התחבר/י</button>

        <!-- <a routerLink="/admin"><input type="submit" class="fadeIn fourth" value="אדמין"></a> -->

        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </form>
    </mat-card>
  </div>
</div>
</body>
