:host{
  display: block;
  /*margin-top: 1rem;*/
}

mat-expansion-panel-header {
  font-size: larger;
  text-decoration: underline;
  text-align: right;
}

.title {
  font-size: larger;
  text-align: right;
}

.content {
  text-align: right;
}
.info-text{
  text-align: center;
}

mat-expansion-panel {
  width: 30%;
  margin: auto;

}

main{
  background-image: url(../../../assets/img/background6.jpeg);
  height: 100%;
}
