<main><mat-accordion multi="true" *ngIf="researches.length > 0" xmlns:componentDef="http://www.w3.org/1999/xhtml">
  <mat-expansion-panel *ngFor="let research of researches">
    <mat-expansion-panel-header>
      {{ research.name }}
    </mat-expansion-panel-header>
    <p class="title">משתתפים</p>
    <p class="content" *ngFor="let participant of  research.participants" > {{ participant }} -</p>
    <p class="title" >מהלך המחקר</p>
    <p class="content"> {{ research.process }}</p>
    <p class="title">משתני המחקר</p>
    <p class="content"> {{ research.variables }}</p>
    <p class="title">תאריך תחילת המחקר</p>
    <p class="content"> {{ research.startDate }}</p>
    <p class="title">תאריך סוף המחקר</p>
    <p class="content"> {{ research.endDate }}</p>
    <mat-action-row>
      <!--<a mat-button color="primary" [routerLink]="['/edit/',research.id]">ערוך</a>-->
      <!--<button mat-button color="primary">ערוך</button>-->
      <!--<button mat-button color="warn" (click)="onEdit(research.id)">ערוך</button>-->
      <button mat-button color="warn" (click)="onDelete(research.id)">מחק</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text "*ngIf="researches.length <=0">לא קיימים מחקרים עדיין!</p>
</main>
