:host{
  display: block;
  margin-top: 1rem;
}

mat-expansion-panel-header {
  font-size: larger;
  text-decoration: underline;
}

.title {
  font-size: larger;
}
.info-text{
  text-align: center;
}

mat-expansion-panel {

  width: 30%;
  margin: auto;

}
