.mat-tab-group {
  margin-bottom: 48px;
  color: #0d0d0d;
  /*font-size: 30px;*/
}
/*mat-tab {*/
  /*font-size: 18px;*/
/*}*/

.title {
  font-size: 30px;
  font-weight: bold;

}
p {
  text-align: center;
  color: #0d0d0d;
  font-size: 60px;
  font-weight: bold;
}

/*#mat-tab-body-content {*/
  /*background-image: url(../../../assets/img/background6.jpeg);*/
  /*height: 100%;*/

/*}*/

main {
  /*width: 80%;*/
  /*margin: 1rem auto;*/
  background-image: url(../../../assets/img/background6.jpeg);
  /*height: 100%;*/
}
