.mat-tab-group {
  margin-bottom: 48px;
  color: #0d0d0d;
  font-size: large;

}
.tabs{
  background-color: white;
}
mat-tab {
  background-color: #0d0d0d;
  text-decoration-color: white;

}
label {
  color: #0d0d0d;
  font-size: large;
  font-weight: bold;
  font-weight: bold;
}
h1{
  text-align: center;
  color: #0d0d0d;
}
body {
  background-image: url(../../../assets/img/background6.jpeg);
}
