<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h1>ברוך הבא לתמריגה</h1>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <!--<div class="fadeIn first">-->
      <!--<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
    <!--</div>-->

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="תעודת זהות">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="סיסמה">
      <a routerLink="/user"><input type="submit" class="fadeIn fourth" value="התחבר"></a>

      <a routerLink="/admin"><input type="submit" class="fadeIn fourth" value="אדמין"></a>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">?שכחת סיסמה</a>
    </div>

  </div>
</div>

<!--&lt;!&ndash;<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">&ndash;&gt;-->
<!--&lt;!&ndash;<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;&ndash;&gt;-->


<!--<mat-card>-->
  <!--&lt;!&ndash;<mat-spinner></mat-spinner>&ndash;&gt;-->
  <!--<form (submit)="onLogin(loginForm)" #loginForm="ngForm">-->
    <!--<mat-form-field>-->
      <!--<input matInput name="id" ngModel type="id" placeholder="ID" #idInput="ngModel" required id>-->
      <!--&lt;!&ndash;<mat-error *ngIf="idInput.invalid">Please enter a valid ID.</mat-error>&ndash;&gt;-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput="ngModel" required>-->
      <!--<mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>-->
    <!--</mat-form-field>-->
    <!--<button mat-raised-button color="accent" type="submit">Login</button>-->
  <!--</form>-->
<!--</mat-card>-->


<!--<br>-->
<!--<br>-->

<!--<a routerLink="/user"><input type="submit" class="fadeIn fourth" value="Log In"></a>-->

<!--<a routerLink="/admin"><input type="submit" class="fadeIn fourth" value="Admin"></a>-->



<!--&lt;!&ndash;<div class="wrapper fadeInDown">&ndash;&gt;-->
<!--&lt;!&ndash;<div id="formContent">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; Tabs Titles &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; Icon &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="fadeIn first">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; Login Form &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<form>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" id="password" class="fadeIn third" name="login" placeholder="password">&ndash;&gt;-->

<!--&lt;!&ndash;<a routerLink="/user"><input type="submit" class="fadeIn fourth" value="Log In"></a>&ndash;&gt;-->

<!--&lt;!&ndash;<a routerLink="/admin"><input type="submit" class="fadeIn fourth" value="Admin"></a>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; Remind Passowrd &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div id="formFooter">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="underlineHover" href="#">Forgot Password?</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

