<!--<div class="example-container">-->
<mat-card >

  <form class="example-container" (submit)="onAddResearch(addResearchForm)" #addResearchForm="ngForm">
    <p>יצירת מחקר חדש</p>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="name"
        ngModel
        placeholder="שם המחקר"
        required
        #name="ngModel">
      <mat-error *ngIf="name.invalid">Please enter a name.</mat-error>
    </mat-form-field>
    <!--#idInput="ngModel"-->


    <!--<mat-form-field>-->
      <!--<mat-label>Toppings</mat-label>-->
      <!--<mat-select name="participants" [formControl]="toppings" multiple>-->
        <!--<mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}} </mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->



    <mat-form-field>
      <textarea
        matInput
        type="text"
        name="process"
        ngModel
        placeholder="אופן מהלך המחקר"
        required
        #process="ngModel">
      </textarea>
      <mat-error *ngIf="process.invalid">Please enter a valid process.</mat-error>
    </mat-form-field>
    <!--#idInput="ngModel" &#45;&#45; shouold be inside the input of process-->

    <mat-form-field>
      <textarea
        matInput
        type="text"
        name="variables"
        ngModel
        placeholder="משתני המחקר"
        required
        #variables="ngModel">
      </textarea>
      <mat-error *ngIf="variables.invalid">Please enter a valid variables.</mat-error>
    </mat-form-field>
    <!--#idInput="ngModel"-->


    <mat-form-field>
      <input
        matInput
        class="dates"
        name="startDate"
        ngModel
        [matDatepicker]="start"
        placeholder="תחילת מחקר"
        required
        #startDate="ngModel">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
      <mat-error *ngIf="startDate.invalid">Please select a start date</mat-error>
    </mat-form-field>
    <!--#idInput="ngModel"-->


    <mat-form-field >
      <input
        matInput
        class="dates"
        name="endDate"
        ngModel
        [matDatepicker]="end"
        placeholder="סוף מחקר"
        required
        #endDate="ngModel">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
      <mat-error *ngIf="endDate.invalid">Please select an end date.</mat-error>
    </mat-form-field>
    <!--#idInput="ngModel" -->



    <button
      class="create-research"
      mat-flat-button
      color="primary"
      type="submit">הגדר מחקר</button>

  </form>
</mat-card>
