<!--<div class="example-container">-->
<mat-card >

  <form class="example-container" (submit)="onAddResearch(addResearchForm)" #addResearchForm="ngForm">
    <p>יצירת מחקר חדש</p>
    <mat-form-field>
      <input matInput name="name" ngModel type="text" placeholder="שם המחקר" #idInput="ngModel" required>
      <mat-error *ngIf="idInput.invalid">Please enter a name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="id" ngModel type="number" placeholder="מספר מזהה למחקר" #idInput="ngModel" required>
      <mat-error *ngIf="idInput.invalid">Please enter a valid ID.</mat-error>
    </mat-form-field>


    <!--<mat-form-field>-->
      <!--<mat-label>Toppings</mat-label>-->
      <!--<mat-select name="participants" [formControl]="toppings" multiple>-->
        <!--<mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}} </mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->



    <mat-form-field>
      <textarea name="process" ngModel type="text" matInput placeholder="אופן מהלך המחקר" #idInput="ngModel" required></textarea>
      <mat-error *ngIf="idInput.invalid">Please enter a valid process.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea name="variables" ngModel type="text" matInput placeholder="משתני המחקר" #idInput="ngModel" required></textarea>
      <mat-error *ngIf="idInput.invalid">Please enter a valid variables.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input class="dates" name="startDate" ngModel matInput [matDatepicker]="start" placeholder="תחילת מחקר" #idInput="ngModel" required>
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
      <mat-error *ngIf="idInput.invalid">Please select a start date</mat-error>
    </mat-form-field>

    <mat-form-field >
      <input class="dates" name="endDate" ngModel matInput [matDatepicker]="end" placeholder="סוף מחקר" #idInput="ngModel" required>
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
      <mat-error *ngIf="idInput.invalid">Please select an end date.</mat-error>
    </mat-form-field>

    <button class="create-research" mat-flat-button color="primary">הגדר מחקר</button>

  </form>

</mat-card>
