.buttons{
  /*margin: auto;*/
  margin-left: 42%;
  margin-right: 42%;
}

h1 {
  text-align: center;
  color: midnightblue;
}

.title{
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 10px;

}
