<div class="view ">


  <div class="title col-md-4">
    <h1> ברוך הבא להלן תכנים בשבילך</h1>
  </div>

  <div class="video-view col-md-7">

    <div class="col-md-12 video">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-12">
      <div class="play-buttons row">
        <div class="col-md-3">
          <button class="play btn-lg">
            <i class="fas fa-backward"></i>
          </button>
        </div>
        <div class="col-md-3">
          <button class="play btn-lg">
            <i class="fas fa-pause"></i>
          </button>
        </div>
        <div class="col-md-3">
          <button class="play btn-lg">
            <i class="fas fa-play"></i>
          </button>
        </div>
        <div class="col-md-3">
          <button class="play btn-lg">
            <i class="fas fa-forward"></i>
          </button>
        </div>
      </div>
    </div>

    <!--<div class="col-md-2 btn-group-horizontal">-->
      <!--<h2 class= "rate">? אהבת את התוכן</h2>-->
      <!--<div class="col-ms-4"><button class="button button1 btn-lg rating ">5 אהבתי מאוד</button></div>-->
      <!--<div class="col-ms-4"><button class="button button1 btn-lg rating ">4</button></div>-->
      <!--<div class="col-ms-4"><button class="button button1 btn-lg rating">3</button></div>-->
      <!--<div class="col-ms-4"><button class="button button1 btn-lg rating">2</button></div>-->
      <!--<div class="col-ms-4"><button class="button button1 btn-lg rating">לא אהבתי בכלל 1</button></div>-->
    <!--</div>-->

  </div>
</div>
