.buttons{
  /*margin: auto;*/
  margin-left: 42%;
  margin-right: 42%;
}

/*.video-view{*/
  /*margin: auto;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*padding: 10px;*/
  /*position: fixed;*/
  /*left: 5%;*/
/*}*/

/*.music{*/
  /*height: 100%;*/
  /*widht: 100%;*/
/*}*/

.title{
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 10px;

}

/*.play-buttons{*/
  /*!*margin: auto;*!*/
  /*margin-left: 38%;*/
  /*margin-right: 38%;*/

/*}*/
/*.video{*/
  /*height: 100%;*/
  /*width: 99%;*/

/*}*/

/*.example-radio-group {*/
  /*display: inline-flex;*/
  /*flex-direction: column;*/
  /*position: fixed;*/
  /*right: 5%;*/
/*}*/

/*.example-radio-button {*/
  /*margin: 5px;*/
/*}*/

/*.example-selected-value {*/
  /*margin: 15px 0;*/
/*}*/

/*.video-view, .rating{*/
  /*display: inline-block;*/
/*}*/
