h1{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  position: center;

}
main {
  /*width: 80%;*/
  /*margin: 1rem auto;*/
  background-image: url(../assets/img/background6.jpeg);
  height: 100%;
}
